<md-dialog aria-label="New Turn">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New Turn</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel_export()">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <form>
                <md-list ng-cloak>
                    <md-subheader class="md-no-sticky">Turn</md-subheader>
                    <md-list-item>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Name</label>
                            <input ng-model="turn.name" required>
                        </md-input-container>
                    </md-list-item>
                    <md-list-item>
                        <md-input-container>
                            <label>Description</label>
                            <textarea ng-model="turn.description" md-maxlength="200" rows="5" md-select-on-focus></textarea>
                        </md-input-container>
                    </md-list-item>
                    <md-list-item>
                        <md-input-container class="md-block">
                            <label>Start Time</label>
                            <div class="input-group" moment-picker="turn.time_start" format="HH:mm">
                                <span class="input-group-addon">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" placeholder="Select a time" ng-model="turn.time_start" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </md-input-container>
                    </md-list-item>
                    <md-list-item>
                        <md-input-container class="md-block">
                            <label>End Time</label>
                            <div class="input-group" moment-picker="turn.time_end" format="HH:mm">
                                <span class="input-group-addon">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" placeholder="Select a time" ng-model="turn.time_end" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </md-input-container>
                    </md-list-item>
                </md-list>
            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel_save()">
            Cancel
        </md-button>
        <md-button ng-click="accept_save()" style="margin-right:20px;">
            Save
        </md-button>
    </md-dialog-actions>
    </form>
</md-dialog>