<div class="row" ng-init="initList()">
    <div class="col-md-12">
        <div class="heading_a"><span class="heading_text">List Turns</span></div>
    </div>
    <div class="col-md-12" update-fixed-headers>
        <table id="datatable_demo" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Time Start</th>
                    <th>Time End</th>
                    <th>Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="turn in turns">
                    <td>{{turn.id}}</td>
                    <td>{{turn.name}}</td>
                    <td>{{turn.description}}</td>
                    <td>{{turn.time_start}}</td>
                    <td>{{turn.time_end}}</td>
                    <td>{{turn.timestamp}}</td>
                    <td><a href="" ng-click="edit_turn( turn.id )"><i class="glyphicon glyphicon-edit"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>