<div  ng-controller="business-controller">

    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="#/"><i class="fa fa-building" aria-hidden="true"></i> Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="#/business"></i><i class="fa fa-building" aria-hidden="true"></i> Businesses</a></li>
        <li class="breadcrumb-item"><i class="fa fa-info-circle" aria-hidden="true"></i> Detail</li>
    </ol>

    <h2 class="display-4">{{title}}</h2>

    <br/>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h5 class="lead"> <i class="fa fa-building" aria-hidden="true"></i> Business Detail</h5>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-8">
            <div class="card" style="background-color: white; border-color: #333;">
                <div class="card-block">
                    <h3 class="card-title"><i class="fa fa-info-circle" aria-hidden="true"></i> Business information</h3>
                    <hr>
                    <p class="card-text"><b>Name :</b> {{business.name}}</p>
                    <p class="card-text"><b>Description :</b> {{business.description}}</p>
                    <p class="card-text"><b>Created :</b> {{business.timestamp}}</p>
                    <p class="card-text"><b>Updated :</b> {{business.updated}}</p>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group text-sm-left">
                                <a href="#/business">
                                    <button type="button" class="btn btn-warning"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back</button>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group text-sm-right">
                                <a href="#/business/edit/{{business.id}}">
                                    <button type="button" class="btn btn-success"><i class="fa fa-plus-square" aria-hidden="true"></i> Edit</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="background-color: white; border-color: #333;">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-8">
                            <h3 class="card-title"><i class="fa fa-map-marker" aria-hidden="true"></i> Locations</h3>
                        </div>
                        <div class="col-md-4">
                            <a href="#/business/location/"><button type="button" class="btn btn-block btn-secondary pull-right"><i class="fa fa-plus-circle" aria-hidden="true"></i> New</button></a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12" >
                            <ul class="locations-menu">
                                <li ng-repeat="l in locations"><a href="#/location/{{l.id}}" class="business"><i class="fa fa-map-marker" aria-hidden="true"></i><br>{{l.location_name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
