<div  ng-controller="business-controller">

    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="#/"><i class="fa fa-building" aria-hidden="true"></i> Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="#/business"></i><i class="fa fa-building" aria-hidden="true"></i> Businesses</a></li>
        <li class="breadcrumb-item"><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit</li>
    </ol>

    <h2 class="display-4">{{title}}</h2>

    <br/>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h5 class="lead"> <i class="fa fa-building" aria-hidden="true"></i> Update Businesses</h5>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card card-outline-primary mb-3 text-left">
                <div class="card-header text-sm-center lead">
                    Update
                </div>
                <div class="card-block">
                    <div class="alert alert-danger" role="alert" ng-if="errors">
                        <strong>Error editting object</strong>
                        <p>{{errors}}</p>
                    </div>
                    <form ng-submit="update()">

                        <div ng-include="'/views/bussines/business.html'"></div>

                        <br>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group text-sm-left">
                                    <a href="#/business">
                                        <button type="button" class="btn btn-danger"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Cancel</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group text-sm-right">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-pencil-square" aria-hidden="true"></i> Update</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
