<div  ng-controller="business-controller">

    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="#/"><i class="fa fa-building" aria-hidden="true"></i> Dashboard</a></li>
        <li class="breadcrumb-item"><i class="fa fa-building" aria-hidden="true"></i> Businesses</li>
    </ol>

    <h2 class="display-4">{{title}}</h2>

    <br/>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h5 class="lead"> <i class="fa fa-building" aria-hidden="true"></i> Businesses List</h5>
        </div>
        <div class="col-md-4">
            <a href="#/"><button type="button" class="btn btn-secondary"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</button></a>
            <a href="#/business/new/"><button type="button" class="btn btn-secondary"><i class="fa fa-plus-circle" aria-hidden="true"></i> New</button></a>
            <a href="#/location/new/"><button type="button" class="btn btn-secondary"><i class="fa fa-map-marker" aria-hidden="true"></i> Locations</button></a>
        </div>
        <div class="col-md-2">
            <input ng-model="search_text" ng-change="searchChange()" type="text" class="form-control" id="search" placeholder="Buscar...">
        </div>
    </div>

    <hr>

    <div ng-if="businesses_table">
        <table class="table table-bordered table-hover">
        <thead class="thead-inverse">
            <tr>
                <th style="width:15%"><i class="fa fa-asterisk" aria-hidden="true"></i>  Name</th>
                <th><i class="fa fa-clock" aria-hidden="true"></i> Description</th>
                <th><i class="fa fa-clock" aria-hidden="true"></i> Created</th>
                <th><i class="fa fa-clock" aria-hidden="true"></i> Updated</th>
                <th class="text-sm-center"><i class="fa fa-pencil" aria-hidden="true"></i></th>
                <th class="text-sm-center"><i class="fa fa-trash" aria-hidden="true"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="b in businesses_table">
                <td><a href="#/business/{{b.id}}"><p class="lead">{{b.name}}</p></td>
                <td><p class="lead">{{b.description}}</p></td>
                <td><p class="lead">{{b.timestamp}}</p></td>
                <td><p class="lead">{{b.updated}}</p></td>
                <td><a href="#/business/edit/{{b.id}}"><button type="button" class="btn btn-outline-primary"><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit</button></a></td>
                <td><button type="button" ng-click="delete( $event, b.id )" class="btn btn-outline-danger md-raised"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button></td>
            </tr>
        </tbody>
        </table>
    </div>

</div>
