<div>
    <div class="row">
        <div class"col-md-12">
            <div class="progress progress-striped active" ng-show="progress_ban">
                <div class="progress-bar" role="progressbar" style="width: 85%">
                    <span class="sr-only">85% Complete</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="heading_a">
                <span class="heading_text">Last Close</span>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Location</th>
                        <th>Last Updated</th>
                        <th>Last Sale</th>
                        <th>Export</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lc in last_closes">
                        <th scope="row">{{lc.location_name}}</th>
                        <td>{{lc.now_date | date:'MM/dd/y H:mm:ss'}}</td> 
                        <td>{{lc.last_sale | date:'MM/dd/y H:mm:ss'}}</td> 
                        <td ng-show="cats_done && dis_done && credit_cards_done && voids_done && cash_done"><a ng-click="export_location_to_excel( lc.id )"><i class="glyphicon glyphicon-cloud-download"></i></a></td>
                        <td ng-hide="cats_done && dis_done && credit_cards_done && voids_done && cash_done"><i class="glyphicon glyphicon-hourglass"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="heading_a">
                <span class="heading_text">Quick Settings</span>

                <div class="pull-right">
                    <a href="#"><i class="el-icon-cog heading_icon"></i></a>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div id="drp_predefined" class="btn btn-success" style="width:100%">
                        <i class="icon_calendar"></i>
                        <span>{{date_range.date_start | date : 'MM/dd/y HH:mm:ss'}} - {{date_range.date_end | date : 'MM/dd/y HH:mm:ss'}}</span> <b class="caret"></b>
                    </div>
                </li>
                <li class="list-group-item">
                    <button class="btn btn-block btn-success" ng-click="get_reports()"><i class="icon_cloud-download" aria-hidden="true"></i> Get Reports</button>
                </li>
                <li class="list-group-item" ng-show="cats_done && dis_done && credit_cards_done && voids_done && cash_done">
                    <button class="btn btn-block btn-primary" ng-click="print_all_reports()"> Print All Reports</button>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="heading_a">
                <span class="heading_text">Location Sales</span>
            </div>
            <div id="c3_orders" style="height:220px"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_b">
                <div class="info_box_body">
                    <span class="info_box_icon icon_cart_alt"></span>
                    <span class="countUpMe" data-endVal="{{orders_completed}}">{{orders_completed | number}}</span>
                </div>
                <div class="info_box_footer">
                    Orders Completed
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_c">
                <div class="info_box_body">
                    <span class="info_box_icon icon_wallet"></span>
                    $<span class="countUpMe" data-endVal="{{total_sales}}">{{total_sales | number:2}}</span>
                </div>
                <div class="info_box_footer">
                    Sales [{{date_range.date_start | date : 'MM/dd/y'}} - {{date_range.date_end | date : 'MM/dd/y'}} ]
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_d">
                <div class="info_box_body">
                    <span class="info_box_icon glyphicon glyphicon-stats"></span>
                    $<span class="countUpMe" data-endVal="{{promedy_sales}}">{{promedy_sales | number:2}}</span>
                </div>
                <div class="info_box_footer">
                    Sales average
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_a">
                <div class="info_box_body">
                    <span class="info_box_icon icon_document"></span>
                    $<span class="countUpMe" data-endVal="{{ticket_average}}">{{ticket_average | number:2}}</span>
                </div>
                <div class="info_box_footer">
                    Ticket average per guest
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_a">
                <div class="info_box_body">
                    <span class="info_box_icon el-icon-remove-sign"></span>
                    <span class="countUpMe" data-endVal="{{voids_qty}}">{{voids_qty | number}}</span>
                </div>
                <div class="info_box_footer">
                    Voids Qty
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_b">
                <div class="info_box_body">
                    <span class="info_box_icon el-icon-remove-sign"></span>
                    $<span class="countUpMe" data-endVal="{{voids_total}}">{{voids_total | number}}</span>
                </div>
                <div class="info_box_footer">
                    Voids Total
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_c">
                <div class="info_box_body">
                    <span class="info_box_icon el-icon-user"></span>
                    <span class="countUpMe" data-endVal="{{guests}}">{{guests | number}}</span>
                </div>
                <div class="info_box_footer">
                    Guests
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_d">
                <div class="info_box_body">
                    <span class="info_box_icon arrow_down_alt"></span>
                    $<span class="countUpMe" data-endVal="{{discounts}}">{{discounts | number:2}}</span>
                </div>
                <div class="info_box_footer">
                    Discounts
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="heading_a">
                <span class="heading_text">Sales</span>
            </div>
            <div id="c3_sales" style="height:280px"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" ng-hide="true">
            <table class="table" ng-repeat="l in locations" ng-attr-id="{{ l.id + '_location' }}">
                <tbody>
                    <tr>
                        <th colspan="4" align="center">Daily System Sales Detail</th>
                        <th colspan="4" align="center">Printed by {{user_info.first_name}} {{user_info.last_name}}</th>
                    </tr>
                    <tr>
                        <th colspan="4">Location : {{l.location_name}}</th>
                        <th colspan="4"><div class="date_reports"><span>{{date_range.date_start | date : 'MM/dd/y HH:mm:ss'}} - {{date_range.date_end | date : 'MM/dd/y HH:mm:ss'}}</span></div></th>
                    </tr>
                    <tr>
                        <th colspan="2">Orders Completed</th>
                        <td colspan="2">{{l.orders_completed | number}}</td>
                        <th colspan="2">Total Sales</th>
                        <td colspan="2">{{l.total_sales | number : 2}}</td>
                    </tr>
                    <tr>
                        <th colspan="2">Sales average</th>
                        <td colspan="2">{{l.promedy_sales | number : 2}}</td>
                        <th colspan="2">Ticket average per guest</th>
                        <td colspan="2">{{l.ticket_average | number : 2}}</td>
                    </tr>
                    <tr>
                        <th colspan="2">Voids Qty</th>
                        <td colspan="2">{{l.voids_qty | number}}</td>
                        <th colspan="2">Voids Total</th>
                        <td colspan="2">{{l.voids_total  | number : 2}}</td>
                    </tr>
                    <tr>
                        <th colspan="2">Guests</th>
                        <td colspan="2">{{l.guests}}</td>
                        <th colspan="2">Discounts</th>
                        <td colspan="2">{{l.discounts | number : 2}}</td>
                    </tr>
                    <tr>
                        <th colspan="2">Credit Card</th>
                        <td colspan="2">{{l.cash_reports.credit_card | number : 2 }}</td>
                        <th colspan="2">Debit</th>
                        <td colspan="2">{{l.cash_reports.debit | number : 2}}</td>
                    </tr>
                    <tr>
                        <th colspan="2">Check</th>
                        <td colspan="2">{{l.cash_reports.check | number : 2}}</td>
                        <th colspan="2">WIC</th>
                        <td colspan="2">{{l.cash_reports.wic | number : 2}}</td>
                    </tr>
                    <tr>
                        <th colspan="2">Gift</th>
                        <td colspan="2">{{l.cash_reports.gift | number : 2}}</td>
                        <th colspan="2">Total</th>
                        <td colspan="2">{{l.cash_reports.total | number : 2}}</td>
                    </tr>
                    <tr><td colspan="8"></td></tr>
                    <tr>
                        <th colspan="5">Category Name</th>
                        <th>Qty</th>
                        <th>Tax</th>
                        <th>Total</th>
                    </tr>
                    <tr ng-repeat="cr in l.category_reports">
                        <td colspan="5">{{cr.cate_name}}</td>
                        <td>{{cr.qty | number : 2}}</td>
                        <td>{{ (cr.tax1 + cr.tax2 + cr.tax3) | number : 2}}</td>
                        <td>{{cr.total | number : 2}}</td>
                    </tr>
                    <tr>
                        <th colspan="6">Total Major</th>
                        <th>{{l.category_reports_taxes | number : 2}}</th>
                        <th>{{l.category_reports_total | number : 2}}</th>
                    </tr>
                    <tr><td colspan="8"></td></tr>                    
                    <tr ng-repeat="dr in l.discount_reports">
                        <td colspan="6">{{dr.description}}</td>
                        <td>{{dr.qty}}</td>
                        <td>{{dr.discount}}</td>
                    </tr>
                    <tr>
                        <th colspan="7">Total Discounts</th>
                        <th>{{l.discount_reports_total | number : 2}}</th>
                    </tr>
                    <tr><td colspan="8"></td></tr>
                    <tr ng-repeat="cr in l.creditcard_reports">
                        <td colspan="6">{{cr.c_t}}</td>
                        <td>{{cr.ticket_count}}</td>
                        <td>{{cr.amount}}</td>
                    </tr>
                    <tr>
                        <th colspan="7">Total Credit Cards</th>
                        <th>{{l.creditcard_reports_total | number : 2}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <table class="table" id="all_reports">
            <thead>
                <tr>
                    <th colspan="6">Sales Summary</th>
                </tr>
                <tr>
                    <th>Location</th>
                    <th>Sale</th>
                    <th>Taxes</th>
                    <th>Total</th>
                    <th>Credit Card</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="l in locations">
                    <td>{{l.location_name}}</td>
                    <td>{{l.total_vta_neta | number : 2}}</td>
                    <td>{{l.total_tax | number : 2}}</td>
                    <td>{{l.total_sales | number : 2}}</td>
                    <td>{{l.creditcard_reports_total | number : 2 }}</td>
                </tr>
                <tr>
                    <th>
                        Total
                    </th>
                    <th>{{total_vta_neta | number : 2}}</th>
                    <th>{{total_tax | number : 2}}</th>
                    <th>{{total_sales | number : 2}}</th>
                    <th>{{total_credit_card | number : 2}}</th>
                </tr>
                <tr>
                    <td colspan="6"></td>
                </tr>
                <tr>
                    <th colspan="6">Movements Summary</th>
                </tr>
                <tr>
                    <th>Location</th>
                    <th>Qty Discounts</th>
                    <th>Total Discounts</th>
                    <th>Qty Voids</th>
                    <th>Total Voids</th>
                </tr>
                <tr ng-repeat="l in locations">
                    <td>{{l.location_name}}</td>
                    <td>{{l.discount_reports_qty | number : 2}}</td>
                    <td>{{l.discount_reports_total | number : 2}}</td>
                    <td>{{l.voids_qty | number}}</td>
                    <td>{{l.voids_total | number : 2}}</td>
                </tr>
                <tr>
                    <th>
                        Total
                    </th>
                    <th>{{discounts_qty | number}}</th>
                    <th>{{discounts | number : 2}}</th>
                    <th>{{voids_qty | number}}</th>
                    <th>{{voids_total | number : 2}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

