<div>
    <div class="row">
        <div class"col-md-12">
            <div class="progress progress-striped active" ng-show="progress_ban">
                <div class="progress-bar" role="progressbar" style="width: 85%">
                    <span class="sr-only">85% Complete</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="heading_a">
                <span class="heading_text">Last Close</span>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Location</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lc in last_closes">
                        <th scope="row">{{lc.location_name}}</th>
                        <td>{{lc.timestamp | date:'MM/dd/y H:mm:ss'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="heading_a">
                <span class="heading_text">Quick Settings</span>

                <div class="pull-right">
                    <a href="#"><i class="el-icon-cog heading_icon"></i></a>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div id="drp_predefined" class="btn btn-success" style="width:100%">
                        <i class="icon_calendar"></i>
                        <span>{{date_range.date_start | date : 'MM/dd/y HH:mm:ss'}} - {{date_range.date_end | date : 'MM/dd/y HH:mm:ss'}}</span> <b class="caret"></b>
                    </div>
                </li>
                <li class="list-group-item">
                    <button class="btn btn-block btn-success" ng-click="get_reports()"><i class="icon_cloud-download" aria-hidden="true"></i> Get Reports</button>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="heading_a">
                <span class="heading_text">Location Sales</span>
            </div>
            <div id="c3_orders" style="height:220px"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_b">
                <div class="info_box_body">
                    <span class="info_box_icon icon_cart_alt"></span>
                    <span class="countUpMe" data-endVal="{{orders_completed}}">{{orders_completed | number}}</span>
                </div>
                <div class="info_box_footer">
                    Orders Completed
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_c">
                <div class="info_box_body">
                    <span class="info_box_icon icon_wallet"></span>
                    $<span class="countUpMe" data-endVal="{{total_sales}}">{{total_sales | number:2}}</span>
                </div>
                <div class="info_box_footer">
                    Sales [{{date_range.date_start | date : 'MM/dd/y'}} - {{date_range.date_end | date : 'MM/dd/y'}} ]
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_d">
                <div class="info_box_body">
                    <span class="info_box_icon glyphicon glyphicon-stats"></span>
                    $<span class="countUpMe" data-endVal="{{promedy_sales}}">{{promedy_sales | number:2}}</span>
                </div>
                <div class="info_box_footer">
                    Sales average
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_a">
                <div class="info_box_body">
                    <span class="info_box_icon icon_document"></span>
                    $<span class="countUpMe" data-endVal="{{ticket_average}}">{{ticket_average | number:2}}</span>
                </div>
                <div class="info_box_footer">
                    Ticket average
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="info_box_var_1 box_bg_b">
                <div class="info_box_body">
                    <span class="info_box_icon icon_cart_alt"></span>
                    <span class="countUpMe" data-endVal="{{orders_completed}}">{{orders_completed | number}}</span>
                </div>
                <div class="info_box_footer">
                    Orders Completed
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="info_box_var_1 box_bg_c">
                <div class="info_box_body">
                    <span class="info_box_icon icon_wallet"></span>
                    $<span class="countUpMe" data-endVal="{{total_sales}}">{{total_sales | number:2}}</span>
                </div>
                <div class="info_box_footer">
                    Sales [{{date_range.date_start | date : 'MM/dd/y'}} - {{date_range.date_end | date : 'MM/dd/y'}} ]
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="info_box_var_1 box_bg_d">
                <div class="info_box_body">
                    <span class="info_box_icon glyphicon glyphicon-stats"></span>
                    $<span class="countUpMe" data-endVal="{{promedy_sales}}">{{promedy_sales | number:2}}</span>
                </div>
                <div class="info_box_footer">
                    Sales average
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="heading_a">
                <span class="heading_text">Sales</span>
            </div>
            <div id="c3_sales" style="height:280px"></div>
        </div>
    </div>
</div>