<div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_a">
                <div class="info_box_body">
                    <span class="info_box_icon icon_group"></span>
                    <span class="countUpMe" data-endVal="1342">1342</span>
                </div>
                <div class="info_box_footer">
                    New Users
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_b">
                <div class="info_box_body">
                    <span class="info_box_icon icon_cart_alt"></span>
                    <span class="countUpMe" data-endVal="57">57</span>%
                </div>
                <div class="info_box_footer">
                    Orders Completed
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_c">
                <div class="info_box_body">
                    <span class="info_box_icon icon_wallet"></span>
                    $<span class="countUpMe" data-endVal="13578">13 578</span>
                </div>
                <div class="info_box_footer">
                    Sale
                    <small>(last 24h)</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_d">
                <div class="info_box_body">
                    <span class="info_box_icon icon_mail_alt"></span>
                    <span class="countUpMe" data-endVal="531">531</span>
                </div>
                <div class="info_box_footer">
                    Sent Messages
                </div>
            </div>
        </div>
    </div>
    <div class="row row_full mHeight">
        <div class="col-lg-4">
            <div class="easy_chart_wrapper mHeight-item">
                <div class="easy_chart_a easy_chart" data-percent="86">
                    <span class="easy_chart_percent"></span>
                </div>
                <div class="easy_chart_info">
                    <h4 class="easy_chart_heading">Orders completed</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam doloremque mollitia possimus tempora&hellip; <a href="#">more</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="easy_chart_wrapper mHeight-item">
                <div class="easy_chart_b easy_chart" data-percent="40">
                    <span class="easy_chart_percent">136</span>
                </div>
                <div class="easy_chart_info">
                    <h4 class="easy_chart_heading">Confirmed registrations</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam doloremque mollitia possimus tempora&hellip; <a href="#">more</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="easy_chart_wrapper mHeight-item">
                <div class="easy_chart_c easy_chart" data-percent="72">
                    <span class="easy_chart_icon icon_chat_alt"></span>
                </div>
                <div class="easy_chart_info">
                    <h4 class="easy_chart_heading">New comments</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam doloremque mollitia possimus tempora&hellip; <a href="#">more</a></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="heading_a">
                <span class="heading_text">Quick Settings</span>

                <div class="pull-right">
                    <a href="#"><i class="el-icon-cog heading_icon"></i></a>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="pull-right">
                        <input type="checkbox" class="js-switch mini-switch" ng-model="switch_site_online" ui-switch>
                    </div>
                    Site Online
                </li>
                <li class="list-group-item">
                    <div class="pull-right">
                        <input type="checkbox" class="js-switch mini-switch" ng-init="switch_cache_enabled = true" ng-model="switch_cache_enabled" ui-switch>
                    </div>
                    Cache Enabled
                </li>
                <li class="list-group-item">
                    <div class="pull-right">
                        <input type="checkbox" class="js-switch mini-switch" ng-model="switch_catalog_mode" ui-switch>
                    </div>
                    Catalog Mode
                </li>
                <li class="list-group-item">
                    <div class="pull-right">
                        <input type="checkbox" class="js-switch-blue mini-switch" ng-init="switch_statistics = true" ng-model="switch_statistics" ui-switch="{ color: '#41b7f1' }">
                    </div>
                    Statistics
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="heading_a">
                <span class="heading_text">Orders</span>
            </div>
            <div id="c3_orders" style="height:220px"></div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="heading_a">
                <span class="heading_text">Users (by age)</span>
            </div>
            <div id="c3_users_age" style="height:220px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="heading_a">
                <span class="heading_text">Sales</span>

                <div class="pull-right">
                    <button class="btn btn-xs btn-default chart_switch" data-chart="line">Line</button>
                    <button class="btn btn-xs btn-link chart_switch" data-chart="bar">Bar</button>
                </div>
            </div>
            <div id="c3_sales" style="height:280px"></div>
        </div>
    </div>
</div>