<div class="login_header">
    <img ng-src="assets/img/logo.png" alt="site_logo" width="63" height="26">
</div>
<div class="login_register_form" ng-controller="auth-controller">
    <div class="form_wrapper animated-short" id="login_form" ng-class="{'fadeOutDownBig': !loginForm}">
        <h3 class="sepH_c"><span>Login</span></h3>
        <form ng-submit="login()">
            <div class="input-group input-group-lg sepH_a">
                <span class="input-group-addon"><span class="icon_profile"></span></span>
                <input type="email" ng-model="email" class="form-control" placeholder="Email">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><span class="icon_key_alt"></span></span>
                <input type="password" ng-model="password" class="form-control" placeholder="Password">
            </div>
            <div class="sepH_c text-right">
                <a href="javascript:void(0)" class="small">Forgot password?</a>
            </div>
            <div class="form-group sepH_c">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Log in</button>
            </div>
        </form>
    </div>
</div>
