<div  ng-controller="main-controller">

    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="#/"><i class="fa fa-home" aria-hidden="true"></i> {{title}}</a></li>
    </ol>

    <h2 class="display-3">{{title}}</h2>

    <br/>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h5 class="lead"> <i class="fa fa-home" aria-hidden="true"></i> {{title}}</h5>
        </div>
        <div class="co-md-4">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <h2 class="text-muted">{{message}}</h2>
        </div>
    </div>

</div>
