<div class="row">
    <div class="col-md-12" update-fixed-headers>
        <table id="datatable_demo" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Log ID</th>
                    <th>ITEM CODE</th>
                    <th>Description</th>
                    <th>Old Price</th>
                    <th>New Price</th>
                    <th>Old Price 2</th>
                    <th>New Price 2</th>
                    <th>Location</th> 
                    <th>User</th>
                    <th>Created</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="l in logs">
                    <td>{{l.id}}</td>
                    <td>{{l.item_id}}</td>
                    <td>{{l.item_description}}</td>
                    <td>{{l.old_price1}}</td>
                    <td>{{l.new_price1}}</td>
                    <td>{{l.old_price2}}</td>
                    <td>{{l.new_price2}}</td>
                    <td>{{l.location_name}}</td>
                    <td>{{l.user_email}}</td>
                    <td>{{l.timestamp | date:'MM/dd/yyyy'}}</td>
                    <td ng-if="l.status = 1"><span class="badge badge-danger">ACTIVE</span></td>
                    <td ng-if="l.status = 0"><span class="badge badge-warning">INNACTIVE</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>