<div class="row" ng-init="getAllActiveLogs()">
    <div growl></div>
    <div class="col-md-12" update-fixed-headers>
        <div class="progress progress-striped active" ng-show="progress_ban">
            <div class="progress-bar" role="progressbar" style="width: 85%">
                <span class="sr-only">85% Complete</span>
            </div>
        </div>
        <table id="datatable_demo" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Log ID</th>
                    <th>ITEM CODE</th>
                    <th>Description</th>
                    <th>Old Price</th>
                    <th>New Price</th>
                    <th>Old Price 2</th>
                    <th>New Price 2</th>
                    <th>Location</th> 
                    <th>User</th>
                    <th>Created</th>
                    <th>DELETE</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="l in logs">
                    <td>{{l.id}}</td>
                    <td>{{l.item_id}}</td>
                    <td>{{l.item_description}}</td>
                    <td>{{l.old_price1}}</td>
                    <td>{{l.new_price1}}</td>
                    <td>{{l.old_price2}}</td>
                    <td>{{l.new_price2}}</td>
                    <td>{{l.location_name}}</td>
                    <td>{{l.user_email}}</td>
                    <td>{{l.timestamp | date:'MM/dd/yyyy'}}</td>
                    <td><button class="btn btn-block btn-danger" ng-click="deleteLog(l)" type="button" data-confirm="Are you sure you want to remove this log?"><span class="el-icon-trash" aria-hidden="true"></span></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>