<div class="">
    <h2>Users</h2>
</div>
<div class="row">
    <div growl></div>
    <div class="col-md-6">
        <h3>New User</h3>
        <form ng-submit="new_user()">
            <section>
                <div class="form-group">
                    <label for="wizard_fname" class="req">First Name</label>
                    <input type="text" class="form-control" id="wizard_fname" name="wizard_fname" data-parsley-required="true" ng-model="user.first_name" required>
                </div>
                <div class="form-group">
                    <label for="wizard_lname" class="req">Last Name</label>
                    <input type="text" class="form-control" id="wizard_lname" name="wizard_lname" data-parsley-required="true" ng-model="user.last_name" required>
                </div>
                <div class="form-group">
                    <label for="wizard_email" class="req">Email</label>
                    <input type="text" class="form-control" id="wizard_email" name="wizard_email" data-parsley-required="true" data-parsley-type="email" ng-model="user.email" required>
                </div>
                <div class="form-group">
                    <label for="wizard_pass" class="req">Password</label>
                    <input type="password" class="form-control" id="wizard_pass" name="wizard_pass" data-parsley-required="true" data-parsley-minlength="6" ng-model="user.password" required>
                        <span class="help-block">Min 6 characters</span>
                </div>
                <div class="form-group">
                    <label for="profile">Profile</label>
                    <select name="profile" id="profile" ng-model="user.profile" class="form-control" required>
                        <option ng-repeat="p in profiles" value="{{p.id}}">{{p.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="2col_ms_default">Locations; ({{locationsList.length}} elements)</label>
                    <div class="ms-wrapper">
                        <select id="2col_ms_default" multiple ng-model="location_list" ng-options="l.location_name for l in locationsList track by l.id" required>
                        </select>
                        <button type="button" class="btn btn-default btn-xs ms_select_all bs_ttip" title="Select All"><span class="arrow_carrot-2right"></span></button>
                        <button type="button" class="btn btn-default btn-xs ms_deselect_all bs_ttip" title="Deselect All"><span class="arrow_carrot-2left"></span></button>
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-default">Create New User</button>
            </section>
        </form>
    </div>
    <div class="col-md-6">
        <h3>Users</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Email</td>
                    <td>Profile</td>
                    <td>Allowed Locations</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="u in users">
                    <td>{{u.user.first_name}}</td>
                    <td>{{u.user.last_name}}</td>
                    <td>{{u.user.email}}</td>
                    <td>{{u.profile.name}}</td>
                    <td>
                        <ul>
                            <li ng-repeat="l in u.allowed_locations">{{l.location_name}}</li>
                        </ul>
                    </td>
                    <td>
                        <a ng-click="goEdit( u.id )"><i class="glyphicon glyphicon-edit"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>