<div class="row">
    <div class="col-md-2">
        <div class="list-group">
            <a ui-sref="auth.settings.security.users" ng-class="{ active: $state.includes('auth.settings.security.users') }" class="list-group-item"><span class="el-icon-edit" aria-hidden="true"></span> Users</a>
            <a ui-sref="auth.settings.security.profiles" ng-class="{ active: $state.includes('auth.settings.security.profiles') }" class="list-group-item"><span class="icon_genius" aria-hidden="true"></span> Profiles</a>
        </div>
    </div>
    <div class="col-md-10">
        <div ui-view autoscroll="false" class="mainView-animate"></div>
    </div>
</div>