<div class="">
    <h2>Users</h2>
</div>
<div class="row">
    <div growl></div>
    <div class="col-md-6">
        <h3>Edit User</h3>
        <form ng-submit="update_user()">
            <section>
                <div class="form-group">
                    <label for="wizard_fname" class="req">First Name</label>
                    <input type="text" class="form-control" id="wizard_fname" name="wizard_fname" data-parsley-required="true" ng-model="user.user.first_name"
                        required>
                </div>
                <div class="form-group">
                    <label for="wizard_lname" class="req">Last Name</label>
                    <input type="text" class="form-control" id="wizard_lname" name="wizard_lname" data-parsley-required="true" ng-model="user.user.last_name"
                        required>
                </div>
                <div class="form-group">
                    <label for="wizard_email" class="req">Email</label>
                    <input type="text" class="form-control" id="wizard_email" name="wizard_email" data-parsley-required="true" data-parsley-type="email"
                        ng-model="user.user.email" required>
                </div>
                <div class="form-group">
                    <label for="profile">Profile</label>
                    <select name="profile" id="profile" ng-model="user.profile.id" class="form-control" required>
                        <option ng-repeat="p in profiles" value="{{p.id}}">{{p.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="2col_ms_default">Locations; ({{locationsList.length}} elements)</label>
                    <div class="ms-wrapper">
                        <select id="2col_ms_default" multiple ng-model="user.allowed_locations" ng-options="l.location_name for l in locationsList track by l.id"
                            required>
                        </select>
                        <button type="button" class="btn btn-default btn-xs ms_select_all bs_ttip" title="Select All">
                            <span class="arrow_carrot-2right"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-xs ms_deselect_all bs_ttip" title="Deselect All">
                            <span class="arrow_carrot-2left"></span>
                        </button>
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-default">Update User</button>
            </section>
        </form>
    </div>
    <div class="col-md-6">
    </div>
</div>