<h2>Configuration</h2>

<div class="row">
    <div growl></div>
    <div class="col-md-4 col-sm-12">
        <div class="heading_a">
            <span class="heading_text">General</span>
        </div>
        
        <div class="form-group" ng-if="settings">
            <label for="currency" class="req">Currency</label>
            <select name="currency" id="currency" ng-model="settings.currency" class="form-control" ng-options="c as c for c in currencies track by c" required></select>
        </div>

        <div class="form-group" ng-if="settings">
            <label for="wizard_email" class="req">Target</label>
            <input type="number" string-to-number class="form-control" id="target_percentage" name="target_percentage" data-parsley-required="true"
                ng-model="settings.target_percentage" required>
        </div>
        
        <button ng-click="save_settings()" class="btn btn-block btn-info">Save</button>
    </div>
    <div class="col-md-4 col-sm-12"></div>
    <div class="col-md-4 col-sm-12"></div>
</div>