<!-- header -->
<header id="main_header" class="topBar_style_9" ng-controller="header-controller">
	<div class="container-fluid">
		<div class="brand_section">
			<a ui-sref="auth.home"><img ng-src="assets/img/logo.png" alt="site_logo" width="63" height="26"></a>
		</div>
		<ul class="header_notifications clearfix">
			<li class="dropdown" id="tasks_dropdown" on-toggle="toggled(open)" dropdown>
				<span class="label label-danger">{{logs.length}}</span>
				<a href class="dropdown-toggle" dropdown-toggle><i class="el-icon-tasks"></i></a>
				<div class="dropdown-menu">
					<ul>
						<li ng-repeat="log in preview_logs">
							<div class="clearfix">
								<div class="label label-danger pull-right">Active</div>
								<small class="text-muted">{{log.item_description}} ({{log.item_id}})</small>
							</div>
							<p>{{log.user_email}} on {{log.location_name}} Location&hellip;</p>
						</li>
						<li>
							<a ui-sref="auth.support.items.activelogs" class="btn btn-xs btn-primary btn-block">All Item Logs</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="dropdown" on-toggle="toggled(open)" dropdown>
				<span class="label label-primary">2</span>
				<a href class="dropdown-toggle" dropdown-toggle><i class="el-icon-bell"></i></a>
				<div class="dropdown-menu">
					<ul>
						<li>
							<p>Lorem ipsum dolor sit amet&hellip;</p>
							<small class="text-muted">20 minutes ago</small>
						</li>
						<li>
							<p>Lorem ipsum dolor sit&hellip;</p>
							<small class="text-muted">44 minutes ago</small>
						</li>
						<li>
							<p>Lorem ipsum dolor&hellip;</p>
							<small class="text-muted">10:55</small>
						</li>
						<li>
							<p>Lorem ipsum dolor sit amet&hellip;</p>
							<small class="text-muted">14.07.2014</small>
						</li>
						<li>
							<a href="#" class="btn btn-xs btn-primary btn-block">All Alerts</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
		<div class="header_user_actions dropdown" on-toggle="toggled(open)" dropdown>
			<div class="dropdown-toggle user_dropdown" dropdown-toggle>
				<div class="user_avatar">
					<img ng-src="assets/img/avatars/avatar08_tn.png" alt="" title="Carrol Clark (carrol@example.com)" width="38" height="38">
				</div>
				<span class="caret"></span>
			</div>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><a ui-sref="auth.pages.userProfile">User Profile</a></li>
				<li><a ui-sref="auth.pages.userProfile2">User Profile 2</a></li>
				<li><a ng-click="logout()">Log Out</a></li>
			</ul>
		</div>
		<div class="search_section hidden-sm hidden-xs" ng-controller="topSearchCtrl">
			<input type="text" class="form-control input-sm" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8">
			<button class="btn btn-link btn-sm" type="button"><span class="icon_search"></span></button>
		</div>
	</div>
</header>