<md-content flex layout-padding ng-controller="user-controller" >
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
          <h2 class="md-flex"><i class="fa fa-id-card-o" aria-hidden="true"></i> Dashboard</h2>
        </div>
     </md-toolbar>

    <md-divider></md-divider>

    <div layout="column" ng-cloak class="md-padding">

        <md-card>
            <md-card-title>
                <md-card-title-text>
                  <span class="md-headline"> Ramiro Gutierrez Alaniz</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-card-title-text>
                    <span class="md-subhead description"> <b>User ID :</b> n123-lkasd-9t6j-0h6h4</span><br>
                    <span class="md-subhead description"> <b>Name :</b> Ramiro Gutierrez Alaniz</span><br>
                    <span class="md-subhead description"> <b>Address :</b> Castorena y Uruzua #37</span><br>
                    <span class="md-subhead description"> </span>
                </md-card-title-text>
                <br><br>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="home-menu">
                            <li><a href="#/business" class="business"><i class="fa fa-building" aria-hidden="true"></i><br>Business</a></li>
                            <li><a href="#/location" class="locations"><i class="fa fa-map-marker" aria-hidden="true"></i><br>Locations</a></li>
                            <li><a href="#/sales" class="sales"><i class="fa fa-pie-chart" aria-hidden="true"></i><br>Sales</a></li>
                            <li><a href="#/it_titem" class="items"><i class="fa fa-archive" aria-hidden="true"></i><br>Items</a></li>
                            <li><a href="#/stations" class="sales"><i class="fa fa-pie-chart" aria-hidden="true"></i><br>Sales</a></li>
                            <li><a href="#/users" class="items"><i class="fa fa-archive" aria-hidden="true"></i><br>Items</a></li>
                            <li><a href="#/cuts" class="locations"><i class="fa fa-map-marker" aria-hidden="true"></i><br>Locations</a></li>
                        </ul>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>

</md-content>
