<div ng-controller="user-controller">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/"><i class="fa fa-id-card-o" aria-hidden="true"></i> Dashboard</a></li>
    </ol>

    <h2 class="display-4">{{title}}</h2>

    <br/>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h5 class="lead"> <i class="fa fa-id-card-o" aria-hidden="true"></i> {{title}}</h5>
        </div>
        <div class="co-md-4">
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="card" style="background-color: white; border-color: #333;">
                <div class="card-block">
                    <h3 class="card-title"><i class="fa fa-user" aria-hidden="true"></i> User Information</h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="http://i.imgur.com/2WOWOeh.png" alt="" class="img-responsive" style="width:100%">
                        </div>
                        <div class="col-md-8">
                            <p class="card-text"><b>User ID :</b> n123-lkasd-9t6j-0h6h4</p>
                            <p class="card-text"><b>Name :</b> Ramiro Gutierrez Alaniz</p>
                            <p class="card-text"><b>Address :</b> Castorena y Uruzua #37</p>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="background-color: white; border-color: #333;">
                <div class="card-block">
                    <p class="card-text"><a href="#" class="btn btn-block btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></p>
                    <p class="card-text"><a href="#" class="btn btn-block btn-danger"><i class="fa fa-gears" aria-hidden="true"></i> Settings</a></p>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-12">
            <ul class="home-menu">
                <li><a href="#/business" class="business"><i class="fa fa-building" aria-hidden="true"></i><br>Business</a></li>
                <li><a href="#/location" class="locations"><i class="fa fa-map-marker" aria-hidden="true"></i><br>Locations</a></li>
                <li><a href="#/sales" class="sales"><i class="fa fa-pie-chart" aria-hidden="true"></i><br>Sales</a></li>
                <li><a href="#/it_titem" class="items"><i class="fa fa-archive" aria-hidden="true"></i><br>Items</a></li>
                <li><a href="#/stations" class="sales"><i class="fa fa-pie-chart" aria-hidden="true"></i><br>Sales</a></li>
                <li><a href="#/users" class="items"><i class="fa fa-archive" aria-hidden="true"></i><br>Items</a></li>
                <li><a href="#/cuts" class="locations"><i class="fa fa-map-marker" aria-hidden="true"></i><br>Locations</a></li>
            </ul>
        </div>
    </div>

</div>
