<md-subheader class="md-no-sticky"><i class="fa fa-tasks" aria-hidden="true"></i> General</md-subheader>

<md-list-item ng-click="set_menu_state(mi)" ng-repeat="mi in snd_menu_items.general" ng-href="{{mi.link}}">
    <md-icon class="{{mi.icon}}"></md-icon>
    <p> {{ mi.name }} </p>
</md-list-item>

<md-divider></md-divider>

<md-subheader class="md-no-sticky"><i class="fa fa-wrench" aria-hidden="true"></i> Support</md-subheader>

<md-list-item ng-click="set_menu_state(mi)" ng-repeat="mi in snd_menu_items.support" ng-href="{{mi.link}}">
    <md-icon class="{{mi.icon}}"></md-icon>
    <p> {{ mi.name }} </p>
</md-list-item>

<md-divider></md-divider>

<md-subheader class="md-no-sticky"><i class="fa fa-line-chart" aria-hidden="true"></i> Reports</md-subheader>

<md-list-item ng-click="set_menu_state(mi)" ng-repeat="mi in snd_menu_items.reports" ng-href="{{mi.link}}">
    <md-icon class="{{mi.icon}}"></md-icon>
    <p> {{ mi.name }} </p>
</md-list-item>

<md-divider></md-divider>

<md-subheader class="md-no-sticky"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</md-subheader>

<md-list-item ng-click="set_menu_state(mi)" ng-repeat="mi in snd_menu_items.settings" ng-href="{{mi.link}}">
    <md-icon class="{{mi.icon}}"></md-icon>
    <p> {{ mi.name }} </p>
</md-list-item>

<md-divider></md-divider>
